instantclient-basic-windows.x64-21.14.0.0.0dbru/*.so filter=lfs diff=lfs merge=lfs -text
instantclient-basic-windows.x64-21.14.0.0.0dbru/instantclient_21_14/*.dll filter=lfs diff=lfs merge=lfs -text
instantclient-basic-windows.x64-21.14.0.0.0dbru/instantclient_21_14/*.so filter=lfs diff=lfs merge=lfs -text
instantclient-basic-windows.x64-21.14.0.0.0dbru/*.dll filter=lfs diff=lfs merge=lfs -text
instantclient-basic-linux.x64-23.4.0.24.05/instantclient_23_4/*.so filter=lfs diff=lfs merge=lfs -text
