# streamlit
# pandas
# prophet
# # matplotlib
# plotly
# streamlit-option-menu
# numpy<2.0
# chardet
# scikit-learn
# tensorflow-cpu
# protobuf==3.20.*

streamlit
pandas
cython
prophet
# fbprophet==0.7.1
plotly
streamlit-option-menu
numpy<2.0
chardet
scikit-learn
torch
protobuf==3.20.*
